@font-face {
    font-family: 'pokemon';
    src: url('../fonts/pokemon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ALLES in der pokemon-Schrift */
body {
    font-family: 'pokemon', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
